/* utility class start */
:root {
  --bs-blue: #63b3ed;
  --bs-indigo: #596cff;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #f56565;
  --bs-orange: #fd7e14;
  --bs-yellow: #fbd38d;
  --bs-green: #81e6d9;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-body-color: #67748e;
  --bs-primary: #cb0c9f;
  --bs-secondary: #8392ab;
  --bs-success: null;
  --bs-info: #17c1e8;
  --bs-warning: #fbcf33;
  --bs-danger: #ea0606;
  --bs-light: #e9ecef;
  --bs-dark: #344767;
  --bs-white: #fff;
  --bs-gradient-primary-right: #7928ca;
  --bs-gradient-primary-left: #ff0080;
  --bs-gradient-info-right: #2152ff;
  --bs-gradient-info-left: #21d4fd;
  --bs-gradient-danger-right: #ea0606;
  --bs-gradient-danger-left: #ff667c;
  --bs-gradient-warning-right: #f53939;
  --bs-gradient-warning-left: #fbcf33;
  --bs-gradient-success-right: #17ad37;
  --bs-gradient-success-left: #98ec2d;
  --bs-gradient-secondary-right: #627594;
  --bs-gradient-secondary-left: #a8b8d8;
  --bs-gradient-dark-right: #141727;
  --bs-gradient-dark-left: #3a416f;
  --bs-gradient-light-right: #ced4da;
  --bs-gradient-light-left: #ebeff4;
  --bs-font-sans-serif: Open Sans;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, hsla(0, 100%, 50%, 0.15), hsla(0, 0%, 100%, 0));
}

*,
:after,
:before {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
bo ::-moz-selection {
  background-color: #8b1c00;
  color: white;
}
bo ::selection {
  background-color: #8b1c00;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  padding: 10px;
}

:root {
  ----padding-inline-section:20px;
}

a {
  text-decoration: none !important;
}

.primary-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: black;
  background-image: transparent;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0px 1px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 20px;
  margin: -10px 6px -4px -125px;
  overflow: visible;
  padding: 15px 8px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
}

.primary-btn:focus {
  text-decoration: none;
}

.primary-btn:hover {
  text-decoration: none;
}

.primary-btn:active {
  box-shadow: black 0 10px 10px inset;
}

.primary-btn:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(1px, 1px);
}

.containerSection {
  max-width: 2000px;
  margin-inline: auto;
  overflow: visible;
}

.main-logo {
  width: 51px;
}

#ContactUs {
  border: 2px solid black !important;
  padding: 8px 12px !important;
  border-radius: 3px;
  display: inline-block;
  font-weight: 700;
  box-shadow: 3px 3px 0px 0px black;
  -webkit-appearance: noen;
     -moz-appearance: noen;
          appearance: noen;
  background-image: transparent;
  box-sizing: border-box;
  cursor: pointer;
  line-height: 20px;
  overflow: visible;
  text-transform: none;
  touch-action: manipulation;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
}

#ContactUs:focus {
  text-decoration: none;
}

#ContactUs:hover {
  text-decoration: none;
}

#ContactUs:active {
  box-shadow: black 0 10px 10px inset;
}

#ContactUs:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(1px, 1px);
}

.hoverLink {
  color: red;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}

.product {
  text-align: center;
  margin: 1rem;
  border: 1px solid #ddd;
  padding: 1rem;
  flex-basis: 300px;
}

.product img {
  max-width: 100%;
}

.exampleCard {
  overflow: hidden;
}

.add-to-cart-btn {
  background-color: #333;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.add-to-cart-btn:hover {
  background-color: #555;
  border-radius: 2px;
}

.cart {
  flex-basis: 300px;
  border: 1px solid #ddd;
  padding: 1rem;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0.5rem 0;
}

.borderHtml:hover {
  border: 2px solid black;
  border-radius: 5px;
}

.hoverimg {
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s ease-in-out;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
}

.hoverimg:hover {
  transform: scale(1.1);
}

.advertisment {
  background-image: url(../image/computer\ img.jpg);
  width: 100%;
  height: 563px;
  background-size: contain;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  background-clip: content-box;
  display: flex;
  text-align: flex-start;
  justify-content: end;
  align-items: center;
  box-sizing: border-box;
}

.no-wrap {
  padding: 10px;
}

.innerHeading {
  position: relative;
  top: -67px;
  right: 0px;
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
}

.bannerBtn {
  color: white;
  padding: 10px;
  font-size: 15px;
  border-radius: 3px;
  font-weight: 600;
  background-color: rgba(248, 33, 0, 0.9725490196);
}

.outerBanner .innerBanner {
  background-image: url(image/simple\ banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.outerBanner .innerHTML {
  background-color: rgba(255, 255, 255, 0.255);
  box-sizing: border-box;
  padding: 10px 8px;
  border-radius: 2px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.outerBanner p {
  margin: 17px 1px;
}
.outerBanner a {
  padding: 5px;
  border-radius: 3px;
  background-color: #0067b8;
  color: white;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

@media screen and (max-width: 320px) {
  .xSection {
    display: block;
  }
  p {
    font-size: 19px;
  }
  i {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */