body {
 
}

// mainImg
.bannerWrapper {
    .mainImg {
        background-image: url(image/mainBanner.avif);
        background-size: cover;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        height: 35vw;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 3px ;



    }

    .HeaderPara {
        width: 50vw;
        // background-color: white;
        border-radius: 3px;
        padding: 2px;
        box-shadow: 4px 2px 0px -1px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 4px 2px 0px -1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 4px 2px 0px -1px rgba(0, 0, 0, 0.75);
        backdrop-filter: blur(9px);
        -webkit-backdrop-filter: blur(10px);
        
    }

    h1 {
        font-size: 4vw;
    }

    a {
        border: 1px solid black;
        padding: 3px;
        color: white;
        text-decoration: none;

    }

    a:hover {
        text-decoration: underline;
        text-decoration-color: red;
    }
}

.card{
    width:500px;
    
}
.miniCardSection{
    .fa-codepen{
        font-size: 50px;
    }
}

// mini card
.mainBar{
    border-radius: 2px;
    display: flex;
    width: 228px;
    // border: 2px solid rgb(242, 242, 242);
    overflow: hidden;
    background-color:transparent;
    padding: 5px;
    justify-content: space-between;
    color: white;
  }
  
  img{
    width: 100px;
    border-radius: 3px;
    
  }
  .img{
    float: right;
  }
  .containerCard{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    h4{
        font-size: 10px;
    }
    h1{
        font-size: 10px;
    }
    a{
        font-size: 10px;
        color: white;
    }


}
.mainBar{
 background-image: url(image/abstract.jpg);
 background-size: contain; 
 background-attachment: local;
 object-fit: cover;  
 color: black;
}

.hoverimg{
    width: 200px;
}

.product {
    text-align: center;
    margin: 1rem;
   
    padding: 1rem;
    flex-basis: 300px; }

    .containerSection {
        max-width: 2000px;
        margin-inline: auto;
        overflow: visible; }
      
      .main-logo {
        width: 51px; 
    }

    footer{
        a{
            text-decoration: none;
        }
    }
    .bgPicture{
        background-image: url(image/bgBanner.jpg);
        background-size: 2000px;
        background-repeat: no-repeat;
    }